<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=2.0">
    <style type="text/css">
      body {
        margin: 0;
        padding: 25px;
        font-family: Helvetica, sans-serif;
        font-size: 17px;
        color: #333;
      }

      .error {
        display: block;
        color: red;
      }

      form div {
        margin-bottom: 20px;
      }

      form div label {
        display: block;
      }
    </style>
  </head>
    <%= yield %>
  <body>
  </body>
</html>
